@page "/createtransaction"
@using Models
@using Clients
@inject NavigationManager NavigationManager
@inject TransactionsClient TransactionsClientInjected
@inject UsersClient usersClientInjected
@inject CategoriesClient categoriesClientInjected


<PageTitle>Create Transaction</PageTitle>
<h3>Create Transaction</h3>

@if(users is null || categories is null){
    <em>Loading Data...</em>
}
else 
{
    <div class="row">
        <div class="col-md-4">
            <EditForm 
            Model="@transactioncreate" FormName="transactioncreate" OnSubmit="HandleSubmitAsync">

            <div class="mb-3">
            <label for="user" class="form-label">User:</label>
            <InputSelect id="user" @bind-Value="transactioncreate.UserId" class="form-select">
                <option value="">Select a user</option>
                @foreach (var user in users)
                {
                    <option value="@user.UserId">@user.Name</option>
                }
            </InputSelect>
            </div>

            <div class="mb-3">
            <label for="duedate" class="form-label">Due Date:</label>
            <InputDate id="duedate" @bind-Value="transactioncreate.Due_Date" class="form-control"/>
            </div>

            <div class="mb-3">
            <label for="categories" class="form-label">Categories:</label>
            <InputSelect id="categories" @bind-Value="transactioncreate.CategoryId" class="form-select">
                <option value="">Select a Category</option>
                @foreach (var category in categories)
                {
                    <option value="@category.CategoryId">@category.Name</option>
                }
            </InputSelect>
            </div>

             <div class="mb-3">
            <label for="observations" class="form-label">Observations:</label>
            <InputText id="observations" @bind-Value="transactioncreate.Observations" class="form-control"/>
            </div>

            <div class="mb-3">
            <label for="todaydate" class="form-label">Today´s Date:</label>
            <InputDate id="todaydate" @bind-Value="transactioncreate.DateTime" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a role="button" class="btn btn-secondary" href="/">Cancel</a>
            </EditForm>

        </div>
    </div>
}


@code {
    
    [SupplyParameterFromForm]
    private TransactionCreate? transactioncreate {get; set;} = new(){
            Due_Date = DateTime.UtcNow,
            DateTime = DateTime.UtcNow,
            Observations = string.Empty
        };

    private User[]? users;
    private Category[]? categories;

    protected override async Task OnInitializedAsync(){
        users = await usersClientInjected.GetUsersAsync();
        categories = await categoriesClientInjected.GetCategoriesAsync();
    }

    
    private async Task HandleSubmitAsync(){
        ArgumentNullException.ThrowIfNull(transactioncreate);
        await TransactionsClientInjected.AddTransactionAsync(transactioncreate); 
        NavigationManager.NavigateTo("/");
    }
}