@page "/"
@using Models
@using Clients
@inject TransactionsClient TransactionsClientInjected


<PageTitle>Transactions</PageTitle>

<h1>Transactions List</h1>

<div class="mt-2 mb-3">
    <a class="btn btn-primary" role="button" href="/createtransaction">New Transaction</a>
</div>

@if(transactions is null){
    <p>Loading Transactions...</p>
}
else
{
    <table class="table table-striped" table-bordered table-hover>
        <thead class="table-dark">
            <th>ID Transaction</th>
            @* <th>ID User</th> *@
            <th>User Name</th>
            <th>Due Date</th>
            @* <th>ID Category</th> *@
            <th>Category Name</th>
            <th>Date</th>
            <th>Observations</th>
        </thead>
        <tbody>
             @foreach (var transaction in transactions){
                <tr>
                    <td>@transaction.TrxId</td>
                    @* <td>@transaction.UserId</td> *@
                    <td>@transaction.UserName</td>
                    <td>@transaction.Due_Date</td>
                    @* <td>@transaction.CategoryId</td> *@
                    <td>@transaction.CategoryName</td>
                    <td>@transaction.Date</td>
                    <td>@transaction.Observations</td>
                </tr>
                } 
        </tbody>
    </table>
}

@code{
    //List of transactions
    private TransactionDetails[]? transactions;

    //Populating class client
    protected override async Task OnInitializedAsync(){
        transactions = await TransactionsClientInjected.GetTransactionsAsync();
    }

}
    
